.container {
    @apply fixed top-0 flex justify-center bg-white w-full;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
}

.wrapper {
    @apply flex justify-between items-center w-full h-full pr-6 pl-5;
}

.actions {
    display: flex;
    align-items: center;
}

.messages {
    padding: 3px;
    margin-left: 16px;
}

.inbox {
    margin-left: 16px;
    position: relative;

    .badge {
        position: absolute;
        top: -20%;
        left: 16px;

        display: flex;
        justify-content: center;
        align-items: center;

        min-width: 20px;
        height: 20px;
        padding: 2px 6px 0 6px;
        border-radius: 999px;

        color: white;
        background: var(--primary);
        user-select: none;

        font-size: 1.4rem;
        font-weight: 600;
        line-height: 2rem;
    }
}

.avatar {
    width: 32px;
    height: 32px;
    margin-left: 24px;
    border-radius: 999px;
}

.more {
    margin-left: 16px;
    padding: 0 4px;
}

.logo,
.plus,
.messages,
.inbox,
.avatar,
.more {
    display: flex;
    cursor: pointer;
}
