@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --primary: #fe2c55;
    --default-layout-width: 1150px;
    --default-layout-header-height: 72px;
    --default-layout-footer-height: 200px;
    --default-font: Poppins, sans-serif;
}

* {
    @apply m-0 p-0 box-border;
}

::-webkit-scrollbar {
    @apply w-2;
}

::-webkit-scrollbar-thumb {
    @apply rounded bg-black/[.15];
}

body {
    @apply text-base;
    font-family: var(--default-font);
    overflow: overlay;
    text-rendering: optimizeSpeed;
}

input {
    @apply bg-transparent outline-none;
}

//Customize Tippy Tooltip
.tippy-box {
    border-radius: 8px;

    .tippy-content {
        padding: 8px;
        border-radius: 8px;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 22px;
        background: rgba(100, 100, 100, 0.92);
    }

    .tippy-arrow {
        position: absolute;
        top: -8px !important;
        left: 50%;
        display: block;

        width: 36px;
        height: 8px;
        margin: 0;

        background-image: url('/assets/images/arrow-tooltip.svg');
        color: transparent;
    }
}
